a, a:hover, a:visited, a:hover:visited {
    text-decoration: none;
}

a {
    color: #333;
}

a:hover, a:visited:hover {
    color: #666;
}

a:visited {
    color: #aaa;
}

nav#main_nav {
    float: left;
    width: 200px;
}

nav#main_nav li {
    cursor: pointer;
}

section {
    float: left;
    max-width: 800px;
    display: none;
}
