a, a:hover, a:visited, a:hover:visited {
    text-decoration: none;
}

a {
    color: #333;
}

a:hover, a:visited:hover {
    color: #666;
}

a:visited {
    color: #aaa;
}

nav#main_nav {
    float: left;
    width: 200px;
}

nav#main_nav li {
    cursor: pointer;
}

section {
    float: left;
    max-width: 800px;
    display: none;
}

footer {
    clear: both;
    border-top: 1px solid #ccc;
    width: 500px;
    padding-top: 10px;
    margin: 10px 0 10px 40px;
}
